* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #282727;
}

body {
  background-color: #f6f6f8;
  width: 100%;
  display: grid;
  place-items: center;
}

#page_header {
  background-color: white;
  width: 100%;
  display: grid;
  place-items: center;
}

#page_header > div {
  width: 80%;
  max-width: 1000px;
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
#page_header > div > h2 {
  color: #ced4da;
}
#page_header > div > img {
  justify-self: end;
  width: 20px;
  height: 20px;
}

#hero {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
}

#hero_one {
  align-self: start;
  margin: 10px 0px;
  text-align: center;
  width: 80%;
  display: grid;
  place-items: center;
  grid-template-rows: 100px 80px auto 80px;
}
#hero_one > img {
  width: 100px;
}
#hero_one > h1 {
  font-weight: 200;
}
#hero_one > p {
  font-weight: 100;
  line-height: 22px;
}
#hero_one > a {
  align-self: end;
  font-size: 0.8rem;
  padding: 8px 50px;
  border: 2px #282727 solid;
  border-radius: 30px;
  text-decoration: none;
}

#hero_two {
  width: 100%;
}

#our_breads {
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url(/images/breadten.jpg);
  background-position: center;
  background-size: cover;
}
#our_breads > h1 {
  margin: 30px 0px;
  font-weight: 200;
  color: white;
}

#our_breads_container {
  display: grid;
  place-items: center;
  gap: 12px;
  margin-bottom: 48px;
}

.our_breads_article {
  width: 280px;
  display: grid;
  place-items: center;
  background-color: white;
  text-align: center;
  grid-template-rows: 266px 40px auto 70px;
}
.our_breads_article > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-top: 8px;
}
.our_breads_article > h3 {
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.our_breads_article > p {
  font-weight: 100;
  font-style: italic;
  line-height: 22px;
}
.our_breads_article > a {
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px solid #282727;
  padding-bottom: 3px;
}

#method {
  width: 100%;
  display: grid;
  place-items: center;
}

#method_one {
  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-rows: 150px auto 80px;
  margin-bottom: 64px;
}
#method_one > h1 {
  font-weight: 200;
  font-size: 2rem;
}
#method_one > p {
  font-weight: 100;
  line-height: 22px;
}
#method_one > a {
  align-self: end;
  font-size: 0.8rem;
  padding: 8px 50px;
  border: 2px #282727 solid;
  border-radius: 30px;
  text-decoration: none;
}

#method_two {
  width: 100%;
}

#recipe {
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url(/images/breadfour.jpg);
  background-position: center;
  background-size: cover;
}
#recipe > h1 {
  margin: 30px 0px;
  font-weight: 200;
  color: white;
}

#recipe_container {
  display: grid;
  place-items: center;
  margin-bottom: 64px;
}

.recipe_article {
  width: 280px;
  display: grid;
  align-items: center;
  background-color: rgba(40, 39, 39, 0.7019607843);
  padding: 20px 20px;
  margin-bottom: 24px;
  border-radius: 20px;
}
.recipe_article > h3 {
  letter-spacing: 2px;
  font-weight: 400;
  color: #eeb16d;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.recipe_article > p {
  line-height: 22px;
  font-weight: 100;
  font-style: italic;
  color: white;
}

/*# sourceMappingURL=style.css.map */
