* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #282727;
}

body {
  background-color: #f6f6f8;
  width: 100%;
  display: grid;
  place-items: center;
}

#page_header {
  background-color: white;
  width: 100%;
  display: grid;
  place-items: center;
}

#page_header > div {
  width: 80%;
  max-width: 1000px;
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  > h2 {
    color: #ced4da;
  }
  > img {
    justify-self: end;
    width: 20px;
    height: 20px;
  }
}

#hero {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
}

#hero_one {
  align-self: start;
  margin: 10px 0px;
  text-align: center;
  width: 80%;
  display: grid;
  place-items: center;
  grid-template-rows: 100px 80px auto 80px;

  > img {
    width: 100px;
  }
  > h1 {
    font-weight: 200;
  }
  > p {
    font-weight: 100;
  }
  > a {
    align-self: end;
    font-size: 0.8rem;
    padding: 8px 50px;
    border: 2px #282727 solid;
    border-radius: 30px;
    text-decoration: none;
  }
}

#hero_two {
  width: 100%;
}

#our_breads {
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url(/images/breadten.jpg);
  background-position: center;
  background-size: cover;
  > h1 {
    margin: 30px 0px;
    font-weight: 200;
    color: white;
  }
}

#our_breads_container {
  display: grid;
  place-items: center;
  gap: 12px;
}

.our_breads_article {
  width: 280px;
  // height: 60vh;
  display: grid;
  place-items: center;
  background-color: white;
  text-align: center;
  grid-template-rows: 266px 40px auto 70px;
  > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-top: 8px;
  }

  > h3 {
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  > p {
    font-weight: 100;
    font-style: italic;
  }
  > a {
    font-weight: 200;
    text-decoration: none;
    border-bottom: 1px solid #282727;
    padding-bottom: 3px;
  }
}
