* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #282727;
}

img {
  max-width: 100%;
}

body {
  background-color: #f6f6f8;
  width: 100%;
  display: grid;
  place-items: center;
}

#page_header {
  background-color: white;
  width: 100%;
  display: grid;
  place-items: center;
}

#page_header > div {
  width: 80%;
  max-width: 1000px;
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  > h2 {
    color: #ced4da;
  }
  > img {
    justify-self: end;
    width: 20px;
    height: 20px;
  }
}

#hero {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
}

#hero_one {
  align-self: start;
  margin: 10px 0px;
  text-align: center;
  width: 80%;
  display: grid;
  place-items: center;
  grid-template-rows: 100px 80px auto 80px;

  > img {
    width: 100px;
  }
  > h1 {
    font-weight: 200;
  }
  > p {
    font-weight: 100;
    line-height: 22px;
  }
  > a {
    align-self: end;
    font-size: 0.8rem;
    padding: 8px 50px;
    border: 2px #282727 solid;
    border-radius: 30px;
    text-decoration: none;
  }
}

#hero_two {
  width: 100%;
}

#our_breads {
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url(/images/breadten.jpg);
  background-position: center;
  background-size: cover;
  > h1 {
    margin: 30px 0px;
    font-weight: 200;
    color: white;
  }
}

#our_breads_container {
  display: grid;
  place-items: center;
  gap: 12px;
  margin-bottom: 48px;
}

.our_breads_article {
  width: 280px;
  display: grid;
  place-items: center;
  background-color: white;
  text-align: center;
  grid-template-rows: 266px 40px auto 70px;
  > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-top: 8px;
  }

  > h3 {
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  > p {
    font-weight: 100;
    font-style: italic;
    line-height: 22px;
  }
  > a {
    font-weight: 200;
    text-decoration: none;
    border-bottom: 1px solid #282727;
    padding-bottom: 3px;
  }
}

#method {
  width: 100%;
  display: grid;
  place-items: center;
}

#method_one {
  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-rows: 150px auto 80px;
  margin-bottom: 64px;
  > h1 {
    font-weight: 200;
    font-size: 2rem;
  }
  > p {
    font-weight: 100;
    line-height: 22px;
  }
  > a {
    align-self: end;
    font-size: 0.8rem;
    padding: 8px 50px;
    border: 2px #282727 solid;
    border-radius: 30px;
    text-decoration: none;
  }
}

#method_two {
  width: 100%;
}

#recipe {
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url(/images/breadfour.jpg);
  background-position: center;
  background-size: cover;
  > h1 {
    margin: 30px 0px;
    font-weight: 200;
    color: white;
  }
}

#recipe_container {
  display: grid;
  place-items: center;
  margin-bottom: 64px;
}

.recipe_article {
  width: 280px;
  display: grid;
  align-items: center;
  background-color: #282727b3;
  padding: 20px 20px;
  margin-bottom: 24px;
  border-radius: 20px;
  > h3 {
    letter-spacing: 2px;
    font-weight: 400;
    color: #eeb16d;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  > p {
    line-height: 22px;
    font-weight: 100;
    font-style: italic;
    color: white;
  }
}

#breakfast {
  width: 100%;
  display: grid;
  place-items: center;
}

#breakfast_one {
  margin: 32px 0px;
  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  > h1 {
    font-size: 1.7rem;
    font-weight: 200;
  }
  > a {
    margin-top: 32px;
    align-self: end;
    font-size: 0.8rem;
    padding: 8px 50px;
    border: 2px #282727 solid;
    border-radius: 30px;
    text-decoration: none;
  }
}

#breakfast_two {
  width: 100%;
  max-width: 700px;
  margin-bottom: 32px;
}

#testimonials {
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url(/images/breadtwo.jpg);
  background-position: center;
  background-size: cover;
  > h1 {
    color: white;
    margin: 64px 0px;
    font-weight: 200;
    text-align: center;
    font-size: 1.8rem;
  }
}

#testimonials_container {
  display: grid;
  place-items: center;
}

.testimonials_article {
  padding-top: 48px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 280px;
  display: grid;
  place-items: center;
  background-color: #f2952d;
  margin-bottom: 48px;
  > p {
    font-style: italic;
    color: white;
    line-height: 22px;
  }
  > h3 {
    margin-top: 24px;
    justify-self: start;
    color: white;
    text-align: left;
  }
}

#quotes {
  width: 72px;
  height: 72px;
  position: absolute;
  top: -32px;
  left: 10px;
}

#page_footer {
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url(/images/breadone.jpg);
  background-position: top -100px right -200px;
  > h1 {
    font-weight: 200;
    margin: 48px 0px;
  }
}

#form {
  width: 80%;
  display: grid;
  align-items: center;
  margin-bottom: 48px;
  > label {
    margin-bottom: 8px;
  }
  > input {
    padding: 10px;
    border-radius: 30px;
    border: none;
    margin-bottom: 24px;
  }
}

#submit_button {
  background-color: #282727;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.8px;
}

#info {
  width: 80%;
  display: grid;
  place-items: center;
  margin-bottom: 48px;
}

.info_div {
  display: grid;
  place-items: center;
  text-align: center;
  margin-bottom: 48px;
  > h1 {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1.8px;
  }
}
#hours > div {
  display: grid;
  place-items: center;
  gap: 12px;
}

#call_us > div {
  display: grid;
  place-items: center;
  gap: 24px;
  > a {
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid #f2952d;
    padding-bottom: 4px;
  }
}
